*{
    margin: 0;
    padding: 0;
}
.product-small-img img{
    height: 92px;
    margin: 10px 0;
    cursor: pointer;
    display: block;
    opacity: .6;
}
.product-small-img img:hover{
    opacity: 1;
}
.product-small-img
{
    float: left;
}
.product{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.img-container img{
    height: 500px;
}
.img-container
{
    float: right;
    padding: 10px;
}
.img-container h2{
    font-size: 50px; /* Increase font size for the title */
    margin-bottom: 20px; /* Add some space below the title */
}
.img-container p{
    font-size: 20px; /* Increase font size for the description */
}
.return-btn {
    position: fixed;
    top: 40px;
    right: 100px;
    cursor: pointer;
}
.return-btn img{
    width: 50px;
}
.description {
    position: absolute;
    top: 90%;
    right: 15%;
    transform: translateY(-50%);
    background-color: white;
    padding: 20px;
    font-size: large;
    border-radius: 10px;
    max-width: 60%;
    overflow-wrap: break-word;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.BSCS-video{
    width: 83%;
    margin: auto;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}
.play-btn{
    width: 60px;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50% -50%);
    cursor: pointer;
}
/* ------------------------------------------------------*/
.feature-img {
    position: relative;
    width: 100%;
    max-width: 20px; /* set maximum width of feature-img */
    margin: 0 auto; /* center horizontally */
  }
  
.feature-img img {
    width: 100%;
    height: auto;
}

.small-img-row{
    display: flex;
    background-color: #efefef;
    margin: 20px 0;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
    width: 85%;
}
.small-img{
    position: relative;
}
.small-img img{
    width: 150px;
}
.small-img-row p{
    margin-left: 20px;
    color: #707070;
    line-height: 22px;
    font-size: 15px;
}
.play-btn{
    width: 80px;
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%,-50%);
    cursor: pointer;

    /* -------------------new------------------------*/
    transform: none;
}
.small-img .play-btn{
    width: 35px;
}
.video-player {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    display: none;
  }
  
  .video-player video {
    width: 100%;
    height: auto;
    max-width: 800px; /* set maximum width of video-player */
  }
  
  .video-player .close_btn {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
  
  
  
  
  
  
  

